*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
}

td{
    font-family: 'Bungee', cursive;
    cursor: default;
    font-size: 50px;
    color: white;
}

.first-row{
    border-bottom: 10px solid rgb(210, 18, 46);
}

.second-row{
    border-bottom: 10px solid rgb(210, 18, 46);
}

.two{
    border-left: 10px solid rgb(210, 18, 46);
    border-right: 10px solid rgb(210, 18, 46);
}

.five{
    border-left: 10px solid rgb(210, 18, 46);
    border-right: 10px solid rgb(210, 18, 46);
}

.eight{
    border-left: 10px solid rgb(210, 18, 46);
    border-right: 10px solid rgb(210, 18, 46);
}

.score{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

p{
    font-family: 'Bungee', cursive;
    font-size: 25px;
}

.table-overlay{
    display: grid;
    place-items: center;
}

.winner{
    font-family: 'Bungee', cursive;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.winner-player{
    padding-bottom: 20px;
}

.play-again{
    padding: 10px;
    border: none;
    background-color: rgb(210, 18, 46);
    color: white;
    border-radius: 20px;
}

.new-game{
    padding: 10px;
    border: none;
    background-color: rgb(210, 18, 46);
    color: white;
    border-radius: 20px;
}

.space{
    padding-left: 50px;
}