*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
}

td{
    font-size: 50px;
}

.first-row{
    border-bottom: 10px solid rgb(210, 18, 46);
}

.second-row{
    border-bottom: 10px solid rgb(210, 18, 46);
}

.two{
    border-left: 10px solid rgb(210, 18, 46);
    border-right: 10px solid rgb(210, 18, 46);
}

.five{
    border-left: 10px solid rgb(210, 18, 46);
    border-right: 10px solid rgb(210, 18, 46);
}

.eight{
    border-left: 10px solid rgb(210, 18, 46);
    border-right: 10px solid rgb(210, 18, 46);
}

.score{
    padding-bottom: 100px;
    text-align: center;
}

p{
    font-size: 25px;
}

.table-overlay{
    display: grid;
    place-items: center;
}